body{
  margin:0;
  font-family: Arial;
  background:#fff0f5;
}

header{
  text-align:center;
  padding:20px;
  background:#e8b4b8;
  color:white;
}

.box{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,select,button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:8px;
  border:1px solid #ddd;
}

button{
  background:#d18b92;
  color:white;
  border:none;
}
